@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
 min-height: 100vh;
 width: 100%;
 background-color: blueviolet;

}

footer{
  position: fixed;
  background-color: rgb(16, 16, 70);
  width: 100%;
  bottom: 0px;
  left: 0px;
  
}

footer::before{
    content: '';
    position: absolute;
    left: 0;
    top: 100px;
    height: 1px;
    width: 100%;
    background-color:#fff ;
   
}

footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 30px 40px 40px 40px;
}

footer .content .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    
}

.content .top .logodetails{
    color: #fff;
    font-size: 30px;

}

.content .top .mediaicon{
    display: flex;
}
.content .top .mediaicon a{
    height: 40px;
    width: 40px;
   
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;

}

.top .mediaicon a:nth-child(1)
{
    background-color: rgb(65, 65, 185);
}
.top .mediaicon a:nth-child(1):hover{
    color: red;
    font-size: 20px;
   
}

.top .mediaicon a:nth-child(2)
{
    background-color: rgb(65, 65, 185);
}
.top .mediaicon a:nth-child(2):hover{
    color: red;
    font-size: 20px;
   
}
.top .mediaicon a:nth-child(3)
{
    background-color: rgb(65, 65, 185);
}
.top .mediaicon a:nth-child(3):hover{
    color: red;
    font-size: 20px;
   
}
.top .mediaicon a:nth-child(4)
{
    background-color: rgb(65, 65, 185);
}
.top .mediaicon a:nth-child(4):hover{
    color: red;
    font-size: 20px;
   
}

footer .content .linkbox{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

footer .content .linkbox .box{
   
    width: calc(100% / 5 - 10px);
}

.content .linkbox .box .linkname{
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;

}
.linkbox .box .linkname::before{
    content: '';
    position: absolute;
    height: 2px;
    width: 50px;
    background-color: #fff;
    left: 0;
    bottom: -3px;
}


.content .linkbox .box li{
    list-style-type: none;
    margin: 6px 0;


}

.content .linkbox .box li a{
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease;
}
.content .linkbox .box li a:hover{
    opacity: 1;
    text-decoration: underline;
}

.content .linkbox .input-box{
    margin-right: 55px;
}
.linkbox .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #fff;
    border-radius: 4px;
}
.linkbox .input-box input::placeholder{
    color: plum;
    font-size: 16px;
}
